[build]
  base = "frontend"
  command = "npm run build"
  publish = "build"

[context.production.environment]
  REACT_APP_API_URL = "https://smartspend-backend-ddu6.onrender.com/mypockit"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
